<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" id="user_id" v-model="userId"> <!--v-model을 사용해서 양 방향 통신-->
    <input type="password" id="user_password" v-model="userPassword">
    <button type="button">로그인</button>
    <br />
    아이디 : {{userId}}
    <br />
    비밀번호 : {{userPassword}}
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({ // 인스턴스 만들어 사용하고 내부에 데이터 메소드 이용해서 사용
        el: '#app',
        data() {
            return {
                userId: '',
                userPassword: ''
            }
        }
    })
    // 만약 vue js를 사용하지 않았다면 함수를 추가하고 위에 9번 줄에 input 태그에
    // <input type="text" id="user_id" v-model="userId" onchange="userIdChanged(this)">
    // 이렇게 쓴 뒤
    // 아이디 : <span id="user_id_text"></span> 값을 태그 한뒤
    // function userIdChanged(obj){
    // 이벤트를 받으 함수 안에 document.getElementById("user_id_text").innerText = obj.value;
    // 이렇게 값을 변경해줘야 했다.
    // }
</script>
</body>
</html>